:root {
    --cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --blue: hsl(227, 10%, 46%);
    --grey: hsl(0, 0%, 90%);

    --position1: -40%;
    --position2: -80%;
    --size: calc(550px + 55%);
}

* , *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.1rem;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cyan);
    overflow: hidden;
}

body::before, body::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--size);
    aspect-ratio: 1 / 1;
}

body::before {
    background-image: url(images/bg-pattern-top.svg);
    left: var(--position1);
    top: var(--position2);
}

body::after {
    background-image: url(images/bg-pattern-bottom.svg);
    right: var(--position1);
    bottom: var(--position2);
    z-index: -1;
}

main {
    position: relative;
    background-color: white;
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
    max-width: 80%;
    box-shadow: 0.2em 0.5em 2em var(--blue);
}

.hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.photo {
    border-radius: 50%;
    border: .4rem solid white;
    position: absolute;
    top: 5em;
    align-self: center;
}

h1, h2 {
    font-size: 1.1rem;
    font-weight:700;
    color: var(--dark-blue);
    letter-spacing: 0.04em;
}

p {
    text-align: center;
}

.city {
    font-size: 0.9rem;
}

.profile {
    padding: 1.2em;
    line-height: 1.8;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}


.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.05em solid var(--grey);
    padding: 1.5em;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

.description {
    font-size: 0.65rem;
    letter-spacing: 0.1em;
}

.attribution { 
    font-size: 0.625rem; 
    text-align: center; 
    margin-bottom: 0.75em;
}

.attribution a {
    color: var(--dark-blue); 
}