:root {
    --cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --blue: hsl(227, 10%, 46%);
    --grey: hsl(0, 0%, 59%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    color: var(--blue);
    background-color: var(--cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-size: contain; */
}

main {
    position: relative;
    background-color: white;
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
}

/* .bg {
    position: relative;
    top: 0;
    left: 0;
} */

.hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
}


.photo {
    border-radius: 50%;
    border: .4rem solid white;
    position: absolute;
    top: 86px;
    align-self: center;
}

h1, h2 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-blue);
}

p {
    text-align: center;
}

.profile {
    margin: 2em;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* .age {
    font-size: 1rem;
} */

.stats {
    display: flex;
    justify-content: space-around;
    border-top: 0.01em solid var(--grey);
    padding: 1em;
}
